REST_API_URL=XXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_REST_API_URL=XXXXXXXXXXXXXXXXXXX
ANSWER_ENCRYPTION_KEY=XXXXXXXXXXXXXXXXXXX
STUDY_COACH_API_URL=XXXXXXXXXXXXXXXXXXX
STUDY_COACH_API_KEY = sc-dev-key-change-me-in-production